
body {
    background: #EDEDED url("../images/arches_@2X.png");
}

.layout {
    width: 980px;
    margin: auto;
}

.content{
    opacity: 0.5;
}

#enemy-board, #board {
    background: #62B5ED;
    display: inline-table;
    border: 2px solid #181818;
}

#enemy-board tr td, #board tr td {
    width: 30px;
    height: 30px;
    border: black 1px solid
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.activeCell {
    background-color: #7AFF69;
}

.hidden {
    display: none;
}

.missed {
    background-color: gray;
}

.target {
    background-color: gray;
}

.destroyed{
    background-color: red;
}

.sidebar div{
    margin: 10px 0;
}

.noActiveField {
    background: #828282 !important;
}

.activeField{
    background: #62B5ED !important;
}

.sidebar{
    width: 180px; /* Ширина колонки */
    float: right; /* Обтекание слева */
}
.content {
    width: 730px; /* Ширина колонки */
}

.scrollable {
    width:180px; /* ширина нашего блока */
    height:220px; /* высота нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow-y: auto;
    overflow-x: hidden;
}