
body {
    background: #EDEDED url("../images/arches_@2X.png");
}

#page {
    margin: 50px 100px;
}

#main{
    opacity: 0.5;
}

#board{

}

#enemy-board{

}

#enemy-board, #board {
    background: #62B5ED;
    display: inline-table;
    margin: 10px;
    border: 2px solid #181818;
}

#enemy-board tr td, #board tr td {
    width: 30px;
    height: 30px;
    border: black 1px solid
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.activeCell {
    background-color: #7AFF69;
}

.hidden {
    display: none;
}

.missed {
    background-color: gray;
}

.target {
    background-color: gray;
}

.destroyed{
    background-color: red;
}

#sidebar{
    display: inline-block;
}

#name-form{

}

#chat-form{
}

#chat-messages{
    height: 300px;
}

.div .table{
    margin: 10px;
}

#main .noActiveField{
    background: #828282;
}

#main .activeField{
    background: #62B5ED;
}

